<?xml version="1.0" encoding="UTF-8"?>
<language>
	<item key="access_to_following_modules">Sie haben Zugriff auf folgende %d Module.</item>
	<item key="acp3_not_up_to_date">Es ist eine neue Version des ACP3 verfügbar. Sie kann %1$shier%2$s heruntergeladen werden.</item>
	<item key="acp3_up_to_date">Sie verwenden bereits die aktuelle Version des ACP3.</item>
	<item key="cache_images">Bilder cachen</item>
	<item key="complete_export">Komplett</item>
	<item key="config_edit_error">Beim Bearbeiten der Konfiguration ist ein Fehler aufgetreten.</item>
	<item key="config_edit_success">Die Konfiguration wurde erfolgreich bearbeitet.</item>
	<item key="configuration">Konfiguration</item>
	<item key="current_version">Aktuelle Version</item>
	<item key="data_of_table">Daten der Tabelle %s</item>
	<item key="database">Datenbank</item>
	<item key="designs">Designs</item>
	<item key="designs_edit_error">Beim Verändern des Designs ist ein Fehler aufgetreten.</item>
	<item key="designs_edit_success">Das Design wurde erfolgreich ausgewählt und kann nun verwendet werden.</item>
	<item key="disable_module">Modul deaktivieren</item>
	<item key="drop_tables"><![CDATA[Mit &quot;DROP TABLE&quot; exportieren]]></item>
	<item key="editor">Editor</item>
	<item key="email">E-Mail</item>
	<item key="enable_module">Modul aktivieren</item>
	<item key="enable_seo_aliases">URI-Aliase aktivieren</item>
	<item key="error_update_check">Es konnte keine Verbindung zum Update-Server hergestellt werden.</item>
	<item key="export_data">Nur Daten</item>
	<item key="export_options">Exportoptionen</item>
	<item key="export_structure">Nur Struktur</item>
	<item key="export_type">Exportart</item>
	<item key="extensions">Erweiterungen</item>
	<item key="file">Datei</item>
	<item key="flood_barrier">Flood Sperre</item>
	<item key="flood_barrier_description">Zeit in Sekunden, die ein Benutzer warten muss, bis er einen neuen Beitrag verfassen kann</item>
	<item key="general">Allgemeines</item>
	<item key="general_settings">Allgemeine Einstellungen</item>
	<item key="homepage">Startseite</item>
	<item key="homepage_description"><![CDATA[Bitte geben Sie die Startseite in der Form &quot;modul/datei/weitere_parameter/&quot; ein]]></item>
	<item key="incorrect_homepage"><![CDATA[Bitte geben Sie die Startseite in der Form &quot;modul/datei/weitere_parameter/&quot; ein]]></item>
	<item key="install_module">Modul installieren</item>
	<item key="installable_modules">Installierbare Module</item>
	<item key="installed_modules">Installierte Module</item>
	<item key="installed_version">Installierte Version</item>
	<item key="language">Sprache</item>
	<item key="languages">Sprachen</item>
	<item key="languages_edit_error">Beim Verändern der Sprache ist ein Fehler aufgetreten.</item>
	<item key="languages_edit_success">Die Sprache wurde erfolgreich ausgewählt und kann nun verwendet werden.</item>
	<item key="mailer_smtp_auth">SMTP-Authentifizierung</item>
	<item key="mailer_smtp_hostname">SMTP Hostname</item>
	<item key="mailer_smtp_port">SMTP Port</item>
	<item key="mailer_smtp_security">SMTP Sicherheit</item>
	<item key="mailer_smtp_security_none">Keine</item>
	<item key="mailer_smtp_security_ssl">SSL</item>
	<item key="mailer_smtp_security_tls">TLS</item>
	<item key="mailer_smtp_username">SMTP Benutzername</item>
	<item key="mailer_smtp_password">SMTP Passwort</item>
	<item key="mailer_type">Mailertyp</item>
	<item key="mailer_type_php_mail">PHP Mail</item>
	<item key="mailer_type_smtp">SMTP</item>
	<item key="maintenance">Wartung</item>
	<item key="maintenance_message_to_short">Die Wartungsnachricht sollte mindestens 3 Zeichen lanng sein.</item>
	<item key="maintenance_mode">In Wartungsmodus versetzen</item>
	<item key="maintenance_msg">Wartungsnachricht</item>
	<item key="max_upload_size">Maximale Uploadgröße</item>
	<item key="minify_cache_lifetime">Cache-Lebenszeit der CSS- und JavaScript-Dateien</item>
	<item key="minify_cache_lifetime_description">Angaben in Sekunden</item>
	<item key="mod_activate_error">Beim Aktivieren des Moduls ist ein Fehler aufgetreten.</item>
	<item key="mod_activate_success">Das Modul wurde erfolgreich aktiviert und kann nun verwendet werden.</item>
	<item key="mod_deactivate_error">Beim Deaktivieren des Moduls ist ein Fehler aufgetreten.</item>
	<item key="mod_deactivate_forbidden">Es ist nicht möglich dieses Modul zu aktivieren bzw. zu deaktivieren.</item>
	<item key="mod_deactivate_success">Das Modul wurde erfolgreich deaktiviert.</item>
	<item key="mod_description">Dieses Modul ist für die grundlegenden Einstellungen des ACP3 zuständig.</item>
	<item key="mod_installation_error">Beim Installieren des Moduls ist ein Fehler aufgetreten.</item>
	<item key="mod_installation_success">Das Modul wurde erfolgreich installiert.</item>
	<item key="mod_rewrite">mod_rewrite verwenden</item>
	<item key="mod_rewrite_description">Bitte nur aktivieren, wenn Sie den Apache Webserver verwenden.</item>
	<item key="module_name">Modul Name</item>
	<item key="modules">Module</item>
	<item key="no_modules_available_for_installation">Es sind bereits alle lokal verfügbaren Module installiert!</item>
	<item key="output">Ausgabe</item>
	<item key="output_as_text">Als Text</item>
	<item key="output_as_file">Als Datei</item>
	<item key="performance">Leistung</item>
	<item key="php_date_function"><![CDATA[siehe <a href="http://www.php.net/manual/function.date.php" onclick="window.open(this.href); return false">date</a>-Funktion von PHP]]></item>
	<item key="query_failed">Abfrage fehlgeschalgen!</item>
	<item key="query_successfully_executed">Abfrage erfolgreich durchgeführt!</item>
	<item key="result">Ergebnis</item>
	<item key="select_cache_images">Bitte wählen Sie aus, ob Bilder gecached werden sollen.</item>
	<item key="select_editor">Bitte wählen Sie aus, mit welchen Editor Sie Ihre Einträge erstellen wollen.</item>
	<item key="select_export_type">Bitte wählen Sie die Exportart aus.</item>
	<item key="select_menu_item">Bitte wählen Sie einen der obenstehenden Menüpunkte aus, um zur gewünschten Aktion zu gelangen.</item>
	<item key="select_mod_rewrite">Bitte geben Sie an, ob die suchmaschinenfreundlichen URIs verwendet werden sollen, oder nicht</item>
	<item key="select_online_maintenance">Bitte wählen Sie aus, ob sich die Seite im Wartungsmodus befinden soll oder nicht.</item>
	<item key="select_output">Bittw wählen Sie aus, ob die Sicherung der SQL-Tabellen als Datei oder als Text ausgegeben werden soll.</item>
	<item key="select_seo_aliases">Bitte wählen Sie aus, ob die URI-Aliase aktiviert werden sollen oder nicht.</item>
	<item key="select_seo_robots">Bitte wählen Sie aus, wie die Website von Suchmaschinen-Crawlern indexiert werden soll.</item>
	<item key="select_sql_file">Die angegebene Datei ist keine Textdatei.</item>
	<item key="select_sql_tables">Bitte wählen Sie mindestens eine SQL-Tabelle aus, welche exportiert werden soll.</item>
	<item key="sql_export">SQL-Tabellen-Export</item>
	<item key="sql_import">SQL-Tabellen-Import</item>
	<item key="sql_query">SQL Abfrage</item>
	<item key="sql_tables">SQL-Tabellen</item>
	<item key="structure_of_table">Struktur der Tabelle %s</item>
	<item key="system">System</item>
	<item key="text">Text</item>
	<item key="textarea">Textfeld</item>
	<item key="title">Seitentitel</item>
	<item key="title_to_short">Bitte geben Sie einen Seitentitel ein.</item>
	<item key="type_in_date_format">Bitte geben Sie eine Datumsformatierung ein.</item>
	<item key="type_in_flood_barrier">Bitte geben Sie ein, für wieviele Sekunden ein Benutzer keine Beiträge abschicken kann.</item>
	<item key="type_in_mailer_smtp_host">Bitte geben Sie den Hostnamen des SMTP-Servers an.</item>
	<item key="type_in_mailer_smtp_port">Bitte geben Sie die Portnummer des SMTP-Servers an.</item>
	<item key="type_in_mailer_smtp_username">Bitte geben Sie den Benutzernamen des SMTP-Servers an.</item>
	<item key="type_in_minify_cache_lifetime">Bitte geben Sie die Cache-Lebenszeit der CSS- und JavaScript-Dateien ein.</item>
	<item key="type_in_text_or_select_sql_file">Bitte geben Sie die SQL-Abfragen entweder in dem Textfeld ein oder laden Sie eine Datei hoch.</item>
	<item key="update_check">Versionsüberprüfung</item>
	<item key="version">Version</item>
</language>