<?xml version="1.0" encoding="UTF-8"?>
<language>
	<item key="access_to_following_modules">You have access to the following %d modules.</item>
	<item key="acp3_not_up_to_date">A newer version of the ACP3 is available. Click %1$shere%2$s to download the latest version.</item>
	<item key="acp3_up_to_date">You already use the most recent version of the ACP3.</item>
	<item key="architecture">Architecture</item>
	<item key="attention">Attention</item>
	<item key="cache_images">Cache pictures</item>
	<item key="complete_export">Complete</item>
	<item key="config_edit_error">While editing the ACP3 configuration an error has occured.</item>
	<item key="config_edit_success">The ACP3 configuration has been edited successfully.</item>
	<item key="configuration">Configuration</item>
	<item key="current_version">Current version</item>
	<item key="data_of_table">Data of table %s</item>
	<item key="database">Database</item>
	<item key="designs">Designs</item>
	<item key="designs_edit_error">While switching the design an error has occured.</item>
	<item key="designs_edit_success">The design was successfully selected and can now be used.</item>
	<item key="disable_module">Disable module</item>
	<item key="drop_tables"><![CDATA[Export with &quot;DROP TABLE&quot; statement]]></item>
	<item key="editor">Editor</item>
	<item key="email">E-mail</item>
	<item key="enable_module">Enable module</item>
	<item key="enable_seo_aliases">Enable URI-Aliases</item>
	<item key="error_messages">Output of error messages</item>
	<item key="error_update_check">It wasn't possible to establish a connection to the update server.</item>
	<item key="export_data">Data only</item>
	<item key="export_options">Exportoptions</item>
	<item key="export_structure">Struture only</item>
	<item key="export_type">Export type</item>
	<item key="extensions">Extensions</item>
	<item key="file">File</item>
	<item key="flood_barrier">Flood barrier</item>
	<item key="flood_barrier_description">Time in seconds, how long an user has to wait, before he can write a new entry</item>
	<item key="general">General</item>
	<item key="general_settings">General settings</item>
	<item key="homepage">Homepage</item>
	<item key="homepage_description"><![CDATA[To specify a custom homepage, please use the format &quot;module/file/optional_parameters/&quot;.]]></item>
	<item key="incorrect_homepage"><![CDATA[To specify a custom homepage, please use the format &quot;module/file/optional_parameters/&quot;.]]></item>
	<item key="installed_version">Installed version</item>
	<item key="language">Language</item>
	<item key="languages">Languages</item>
	<item key="languages_edit_error">While switching the language an error has occured.</item>
	<item key="languages_edit_success">The language was successfully selected and can now be used.</item>
	<item key="mailer_smtp_auth">SMTP Authentication</item>
	<item key="mailer_smtp_hostname">SMTP Host</item>
	<item key="mailer_smtp_port">SMTP Port</item>
	<item key="mailer_smtp_security">SMTP Security</item>
	<item key="mailer_smtp_security_none">None</item>
	<item key="mailer_smtp_security_ssl">SSL</item>
	<item key="mailer_smtp_security_tls">TLS</item>
	<item key="mailer_smtp_username">SMTP Username</item>
	<item key="mailer_smtp_password">SMTP Password</item>
	<item key="mailer_type">Mailer type</item>
	<item key="mailer_type_php_mail">PHP Mail</item>
	<item key="mailer_type_smtp">SMTP</item>
	<item key="maintenance">Maintenance</item>
	<item key="maintenance_message_to_short">The maintenance message should be at least 3 characters long</item>
	<item key="maintenance_mode">Turn maintenance mode on</item>
	<item key="maintenance_msg">Maintenance message</item>
	<item key="max_upload_size">Maximum upload size</item>
	<item key="minify_cache_lifetime">Cache lifetime of CSS and JavaScript files</item>
	<item key="minify_cache_lifetime_description">Statements in seconds</item>
	<item key="mod_activate_error">While enabling the module an error has occured.</item>
	<item key="mod_activate_success">The module was successfully enabled and can now be used.</item>
	<item key="mod_deactivate_error">While disabling the module an error has occured.</item>
	<item key="mod_deactivate_forbidden">It is impossible to enable resp. disable this module.</item>
	<item key="mod_deactivate_success">The module was successfully disabled.</item>
	<item key="mod_description">This module is responsible for the basic functions of the ACP3.</item>
	<item key="mod_rewrite">Use mod_rewrite</item>
	<item key="mod_rewrite_description">Only enable this, if you are using the Apache web server.</item>
	<item key="module_name">Module name</item>
	<item key="modules">Modules</item>
	<item key="modules_found">All in all, there are %d modules registered.</item>
	<item key="not_optimal_server_configuration">The server isn't well configured</item>
	<item key="not_optimised">Optimisation unnecessary</item>
	<item key="off">off</item>
	<item key="on">on</item>
	<item key="operating_system">Operating system</item>
	<item key="optimal_server_configuration">The server is well configured</item>
	<item key="optimisation_access_forbidden">During the optimisation process you don't have any access to the database!</item>
	<item key="optimised">Table successfully optimised</item>
	<item key="output">Output</item>
	<item key="output_as_text">As text</item>
	<item key="output_as_file">As file</item>
	<item key="overall_overhead">Overall overhead</item>
	<item key="overhead">Overhead</item>
	<item key="performance">Performance</item>
	<item key="php_date_function"><![CDATA[see <a href="http://www.php.net/manual/function.date.php" onclick="window.open(this.href); return false">date</a> function of PHP]]></item>
	<item key="php_extensions">Available PHP extensions</item>
	<item key="php_settings">PHP settings</item>
	<item key="php_version">PHP version</item>
	<item key="query_failed">Query failed!</item>
	<item key="query_successfully_executed">Query executed successfully!</item>
	<item key="register_globals">Register globals</item>
	<item key="result">Result</item>
	<item key="safe_mode">Safe mode</item>
	<item key="select_cache_images">Please select, whether you want to cache pictures.</item>
	<item key="select_editor">Please select, whether you want to use a WYSIWYG editor or a simple textarea</item>
	<item key="select_entries_per_page">Please select, how many resultsets per page should be displayed</item>
	<item key="select_export_type">Please select the export type</item>
	<item key="select_menu_item">Please select one of the above-noted menu items, to reach the desired action.</item>
	<item key="select_mod_rewrite">Please select, whether search engine friendly URIs should be used, or not</item>
	<item key="select_online_maintenance">Please selecr, whether the maintenance mode should be turned on or off</item>
	<item key="select_output">Please select, whether the backup should be output as a file or a text</item>
	<item key="select_seo_aliases">Please select, whether to enable URI-Aliases or not.</item>
	<item key="select_sql_file">The uploaded file is not a valid textfile</item>
	<item key="select_sql_tables">Please select at least one SQL-table, that should be exported</item>
	<item key="server_config">Serverconfiguration</item>
	<item key="server_infos">Server information</item>
	<item key="server_software">Server software</item>
	<item key="sql_export">SQL-table export</item>
	<item key="sql_import">SQL-Tabellen-Import</item>
	<item key="sql_optimisation">SQL table optimisation</item>
	<item key="sql_query">SQL Query</item>
	<item key="sql_table_optimisation_description">The table optimisation eliminates the overhead, which is the result of many erasing and editing processes.</item>
	<item key="sql_tables">SQL-tables</item>
	<item key="status">Status</item>
	<item key="structure_of_table">Structure of table %s</item>
	<item key="system">System</item>
	<item key="table_name">Table name</item>
	<item key="text">Text</item>
	<item key="textarea">Textarea</item>
	<item key="title">Title</item>
	<item key="title_to_short">Please type in a title.</item>
	<item key="type_in_date_format">Please type in a date format.</item>
	<item key="type_in_flood_barrier">Please type in, for how long an user can't submit new entries.</item>
	<item key="type_in_mailer_smtp_host">Please type in the hostname of the SMTP server.</item>
	<item key="type_in_mailer_smtp_port">Please type in the portnumber of the SMTP server.</item>
	<item key="type_in_mailer_smtp_username">Please type in the username of the SMTP server.</item>
	<item key="type_in_minify_cache_lifetime">Please type in the cache lifetime of CSS and JavaScript files.</item>
	<item key="type_in_text_or_select_sql_file">Please either type in the sql queries into the textarea oder just upload a file.</item>
	<item key="update_check">Version check</item>
	<item key="version">Version</item>
	<item key="zend_engine">Zend Engine</item>
</language>