.galleries {
	margin: 2px 0;
	padding: 3px;
	background: #069 url('../images/common_header.png') repeat-x;
	border: 1px solid #333;
	font-weight: bold;
	font-size: 1.2em;
	color: #f90;
}
.galleries .header {
	font-size: 1.0em;
	text-align: left;
}
.galleries .header a {
	color: #000;
}
.galleries .header a:hover {
	color: #f00;
}
.galleries .date {
	float: right;
}
.pictures {
	text-align: center;
}
.picture img {
	border: 1px dotted #333;
}
.picture {
	margin: 10px 0;
	text-align: center;
}
.picture .content {
	margin: 10px 25%;
}
.picture .prev-next {
	height: 120px;
	line-height: 120px;
	text-align: center;
}
.picture .prev {
	float: left;
}
.picture .next {
	float: right;
}
.picture .index {
	padding: 0 130px;
}