<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<tables>files</tables>
		<version core="true"/>
		<categories/>
	</info>
	<access>
		<item>
			<file>adm_list</file>
			<level>2</level>
		</item>
		<item>
			<file>create</file>
			<level>2</level>
		</item>
		<item>
			<file>details</file>
			<level>1</level>
		</item>
		<item>
			<file>delete</file>
			<level>8</level>
		</item>
		<item>
			<file>edit</file>
			<level>4</level>
		</item>
		<item>
			<file>files</file>
			<level>1</level>
		</item>
		<item>
			<file>list</file>
			<level>1</level>
		</item>
		<item>
			<file>settings</file>
			<level>16</level>
		</item>
		<item>
			<file>sidebar</file>
			<level>1</level>
		</item>
		<item>
			<file>extensions/feeds</file>
			<level>1</level>
		</item>
		<item>
			<file>extensions/search</file>
			<level>1</level>
		</item>
	</access>
</module>
