.files {
	margin: 2px 0;
	background: #069 url('../images/common_header.png') repeat-x;
	border: 1px solid #333;
}
.files .header, .files .date {
	padding: 3px;
	font-weight: bold;
	font-size: 1.2em;
	color: #f90;
}
.files .header {
	text-align: left;
}
.files .header a {
	color: #000;
}
.files .header a:hover {
	color: #f00;
}
.files .date {
	float: right;
}
.files .content {
	padding: 10px;
	background: #fff;
	border-top: 1px solid #333;
}
.files .content .hyperlink {
	padding: 0 4px;
	background: #eee;
	border: 1px solid #333;
	line-height: 20px;
}
a.download-file {
	padding-left: 34px;
	background: url('../../../images/crystal/32/download.png') no-repeat;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 34px;
	color: #000;
	display: block;
}
a.download-file:hover {
	color: #f00;
}