@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$navbar-height: 50px;
$navbar-logo-height: 40px;
$navbar-spacing-y: ($navbar-height - $navbar-logo-height) / 2;
$navbar-complete-bg-color: #449d44;
$navbar-complete-text-color: #fff;
$navbar-arrow-height: ($navbar-height / 2);
$navbar-arrow-width: 10px;
$breakpoint-tablet-min: $screen-sm-min;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

ul,
ol {
  &.unstyled {
    padding-left: $line-height-computed;
  }
}

p {
  text-align: justify;
}

/* Layout */
#logo {
  margin: ($line-height-computed / 2) 0;
}

#main-navigation {
  overflow: hidden;

  .navbar-brand {
    padding-top: $navbar-spacing-y;
    padding-bottom: $navbar-spacing-y;
  }

  .navbar-nav {
    > li {
      > a {
        cursor: default;
      }

      &.complete {
        @media (min-width: $breakpoint-tablet-min) {
          position: relative;

          &:after {
            border-bottom: $navbar-arrow-height solid transparent;
            border-top: $navbar-arrow-height solid transparent;
            border-left: $navbar-arrow-width solid $navbar-complete-bg-color;
            content: "";
            height: 0;
            position: absolute;
            right: -$navbar-arrow-width;
            top: 0;
            width: 0;
            z-index: 1;
          }
        }

        > a,
        > a:focus,
        > a:hover {
          background-color: $navbar-complete-bg-color;
          color: $navbar-complete-text-color;
        }
      }

      @media (min-width: $breakpoint-tablet-min) {
        &.complete ~ .active {
          a {
            padding-left: $navbar-arrow-width + 15px;
          }
        }
      }
    }

    @media (min-width: $breakpoint-tablet-min) {
      margin-left: ($grid-gutter-width / -2);
    }
  }

  img {
    height: $navbar-logo-height;
  }
}

#footer {
  margin-bottom: ($line-height-computed / 2);
  line-height: 30px;
}
