ul {
    padding-left: 20px;
}

/* Logo */
#logo {
    margin: 10px 20px;
}

#main-navigation .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

#main-navigation img {
    height: 40px;
}