{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": "3.25",
                "useBuiltIns": "entry",
                "bugfixes": true,
                "spec": true
            }
        ]
    ]
}
