/.env
/.idea
/.php_cs
/.php_cs.cache
/.phpstan-cache
/.component-paths.json
/.eslintcache
/.stylelintcache
/docker-compose.override.yml
/ACP3/config.yml
/build/docker/mysql/dump/
/build/logs/
/build/sami/
/cache/*
/node_modules
/tests/cache/
/tests/.phpunit.result.cache
/uploads/.htaccess
/uploads/_thumbs/*
/uploads/assets/*
/uploads/categories/*
/uploads/files/*
/uploads/gallery/*
/vendor
/.htaccess
/sitemap*.xml

!.gitignore
