<FilesMatch "(\.tpl(\.php)?|\.yml|\.log|composer\.(json|lock))$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>

#SetEnv ACP3_APPLICATION_MODE dev

Options +FollowSymlinks
DirectoryIndex index.php

# Uncomment the following lines of code if you want to use separate sitemaps for HTTP and HTTPS
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#
#    RewriteCond %{HTTPS} !=on
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^sitemap\.xml$ sitemap_http.xml [L,PT]
#
#    RewriteCond %{HTTPS} =on
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^sitemap\.xml$ sitemap_https.xml [L,PT]
#</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
