<FilesMatch "\.(tpl(\.php)?|yml)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
</FilesMatch>

#SetEnv ACP3_APPLICATION_MODE dev

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    DirectoryIndex index.php

    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
