<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('ACP3/Modules/ACP3/Filemanager/libraries')
    ->exclude('ACP3/Modules/ACP3/Wysiwygckeditor/Resources/Assets/js/ckeditor/')
    ->exclude('build')
    ->exclude('cache')
    ->exclude('designs')
    ->exclude('node_modules')
    ->exclude('uploads')
    ->exclude('vendor')
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;
