version: "3.7"

services:
  app:
    environment:
      - ACP3_APPLICATION_MODE=prod
      - XDEBUG_MODE=off

  web:
    ports:
      - "80:80"

  db:
    image: mysql:5.7
    ports:
      - "3306:3306"
