parameters:
  level: 2
  paths:
    - ./ACP3
    - ./installation
    - ./tests
  bootstrapFiles:
    - ./tests/bootstrap.php
  excludes_analyse:
    - %rootDir%/ACP3/Modules/*/*/Resources/*
  tmpDir: .phpstan-cache
