parameters:
  level: 2
  paths:
    - %rootDir%/../../../ACP3
    - %rootDir%/../../../installation
    - %rootDir%/../../../tests
  bootstrap: %rootDir%/../../../tests/bootstrap.php
  excludes_analyse:
    - %rootDir%/../../../ACP3/Modules/ACP3/Filemanager/libraries/*
  includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
