<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<tables>pages,pages_blocks</tables>
		<version core="true"/>
		<active>1</active>
	</info>
	<access>
		<acp>
			<item>
				<file>acp_create</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_create_block</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_edit</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_edit_block</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_list</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_list_blocks</file>
				<level>2</level>
			</item>
		</acp>
		<entry>
			<action>
				<name>acp_create</name>
				<level>2</level>
			</action>
			<action>
				<name>acp_create_block</name>
				<level>2</level>
			</action>
			<action>
				<name>acp_delete</name>
				<level>2</level>
			</action>
			<action>
				<name>acp_delete_blocks</name>
				<level>2</level>
			</action>
			<action>
				<name>acp_edit</name>
				<level>2</level>
			</action>
			<action>
				<name>acp_edit_block</name>
				<level>2</level>
			</action>
		</entry>
		<frontend>
			<item>
				<file>extensions/search</file>
				<level>1</level>
			</item>
			<item>
				<file>functions</file>
				<level>1</level>
			</item>
			<item>
				<file>list</file>
				<level>1</level>
			</item>
		</frontend>
	</access>
</module>