.gallery {
  .gallery__thumbnail {
    a {
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  .gallery__title {
    margin-top: 0;
  }
}

.gallery-pictures {
  text-align: center;
  font-size: 0;

  .gallery-pictures__picture {
    margin: 3px;
    display: inline-block;
  }
}

.gallery-picture {
  margin: 10px 0;
  text-align: center;

  .gallery-picture__description {
    width: 60%;
    margin: 10px auto;
  }
}
