@import "pkg:bootstrap/scss/functions";
@import "pkg:bootstrap/scss/variables";
@import "pkg:bootstrap/scss/mixins";

$layout-navbar-height: $nav-link-height !default;

$navbar-complete-bg-color: $success !default;
$navbar-complete-text-color: #fff !default;
$navbar-arrow-height: (($layout-navbar-height + $spacer) * 0.5) !default;
$navbar-arrow-width: ($spacer * 0.5) !default;

#main-navigation {
  overflow: hidden;

  .navbar-nav {
    > .nav-item {
      > .nav-link {
        cursor: default;

        @include media-breakpoint-up("lg", $grid-breakpoints) {
          padding-top: $spacer;
          padding-bottom: $spacer;
        }
      }

      &.complete {
        @include media-breakpoint-up("lg", $grid-breakpoints) {
          position: relative;

          &::after {
            position: absolute;
            top: 0;
            right: -$navbar-arrow-width;
            z-index: 1;
            width: 0;
            height: 0;
            content: "";
            border-top: $navbar-arrow-height solid transparent;
            border-bottom: $navbar-arrow-height solid transparent;
            border-left: $navbar-arrow-width solid $navbar-complete-bg-color;
          }
        }

        > a,
        > a:focus,
        > a:hover {
          color: $navbar-complete-text-color;
          background-color: $navbar-complete-bg-color;
        }
      }

      @include media-breakpoint-up("lg", $grid-breakpoints) {
        &.complete + :not(.complete) {
          .nav-link {
            padding-left: $navbar-arrow-width + ($spacer * 0.5);
          }
        }
      }
    }

    @include media-breakpoint-up("lg", $grid-breakpoints) {
      margin-left: ($grid-gutter-width * -0.5);
    }
  }
}
