services:
  categories.model:
    class: ACP3\Modules\ACP3\Categories\Model\Repository\CategoryRepository
    arguments:
      - '@core.db'

  categories.model.data_grid_repository:
    class: ACP3\Modules\ACP3\Categories\Model\Repository\DataGridRepository
    arguments:
      - '@core.db'
