@import "modules/ajax-loading-layer";
@import "modules/content-elements";
@import "modules/cookie-consent";
@import "modules/admin";
@import "modules/datagrid";
@import "modules/bootstrap-overrides";

/* Position Bootstrap modal dialogs statically */
.modal {
  &.modal-static {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }
}
