@import "components/variables";

ul {
  padding-left: $line-height-computed;
}

#logo {
  margin: ($line-height-computed / 2) $line-height-computed;
}

#main-navigation {
  .navbar-brand {
    padding-top: $navbar-spacing-y;
    padding-bottom: $navbar-spacing-y;
  }

  img {
    height: $navbar-logo-height;
  }
}

.footer {
  margin-bottom: ($line-height-computed / 2);
}

.in-admin {
  #content {
    width: auto;
    float: none;
  }
}
