body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

ul {
  padding-left: 20px;
}

.logo {
  margin: 10px 20px;
}

.navigation-main-wrapper {
  .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  img {
    height: 40px;
  }
}

.footer {
  margin-bottom: 10px;
}

.in-admin {
  #content {
    width: auto;
    float: none;
  }
}
