.pictures {
	text-align: center;
}
.picture img, .pictures img {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.picture {
	margin: 10px 0;
	text-align: center;
}
.picture .description {
	width: 60%;
	margin: 10px auto;
}