.news {
	margin: 2px 0;
	border: 1px solid #bbb;
}
.news .header {
	padding: 3px;
	background: #069 url('../img/common_header.png') repeat-x;
	font-weight: bold;
	color: #f90;
	text-align: center;
}
.news .date {
	padding: 0 10px;
	border-top: 1px solid #bbb;
	line-height: 20px;
}
.news .comments {
	width: auto;
	margin: 0;
	background: none;
	border: 0;
	float: right;
}
.news .comments span {
	font-size: 0.9em;
}
.news .content {
	padding: 10px;
	border-top: 1px solid #bbb;
}
.news .content .hyperlink {
	padding: 0 4px;
	background: #eee;
	border: 1px solid #bbb;
	line-height: 20px;
}