#logo {
	width: 104px;
	height: 45px;
	margin: 10px 0 10px 10px;
	background: url('../../designs/acp3/img/logo.png') no-repeat;
	text-indent: -9999px;
}
#languages {
	margin: 10px 0;
}
.licence {
	width: 70%;
	height: 400px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #c2c2c2;
	overflow: auto;
}