ul.unstyled, ol.unstyled {
    padding-left: 20px;
}

p {
    text-align: justify;
}

.tab-content > .tab-pane {
    padding-top: 15px;
}

/* Layout */
#logo {
    width: 222px;
    height: 89px;
    margin: 10px 20px;
    background: url('img/logo.png') no-repeat;
    text-indent: -9999px;
}

#content {
    margin: 0 20px;
    display: block;
}

.licence {
    width: 80%;
    height: 400px;
    margin: 0 auto 20px;
    padding: 10px;
    overflow: auto;
}