ul.unstyled, ol.unstyled {
	margin: 0;
}
p {
	text-align: justify;
}
/* Layout */
#logo {
	width: 104px;
	height: 45px;
	margin: 10px 0 10px 10px;
	background: url('img/logo.png') no-repeat;
	text-indent: -9999px;
}
#content {
	margin: 0 20px;
	display: block;
}
.licence {
	width: 80%;
	height: 400px;
	margin: 0 auto;
	padding: 10px;
	border: 1px dotted #ddd;
	overflow: auto;
}