@import "../../../../ACP3/Modules/ACP3/System/Resources/Assets/less/modules/ajax-loading-layer";
@import "../../../../ACP3/Modules/ACP3/System/Resources/Assets/less/modules/bootstrap-overrides";

ul,
ol {
  &.unstyled {
    padding-left: 20px;
  }
}

p {
  text-align: justify;
}

/* Layout */
#logo {
  margin: 10px 20px;
}

#main-navigation {
  .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  img {
    height: 40px;
  }
}

#content {
  margin: 0 20px;
  display: block;
}
