@import "../../../../ACP3/Modules/ACP3/System/Resources/Assets/less/modules/ajax-loading-layer";
@import "../../../../ACP3/Modules/ACP3/System/Resources/Assets/less/modules/bootstrap-overrides";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

ul,
ol {
  &.unstyled {
    padding-left: 20px;
  }
}

p {
  text-align: justify;
}

/* Layout */
#logo {
  margin: 10px 0;
}

#main-navigation {
  overflow: hidden;

  .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-nav {
    > li {

      > a {
        cursor: default;
      }

      &.complete {
        > a,
        > a:focus,
        > a:hover {
          background-color: #449d44;
          color: #fff;
        }
      }
    }

    @media (min-width: 768px) {
      margin-left: -15px;
    }
  }

  img {
    height: 40px;
  }
}

#footer {
  margin-bottom: 10px;
  line-height: 30px;
}

.dl-horizontal.modules-list {
  dd {
    margin-bottom: 5px;
  }
}
