.loading-layer {
  -ms-flex-align: center;
      align-items: center;
  background: rgba(255, 255, 255, 0.5);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  left: 0;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  width: 100%;
  z-index: 999999; }
  .loading-layer.loading-layer__active {
    opacity: 1;
    visibility: visible; }
  .loading-layer h1 {
    width: 100%;
    margin: 0;
    font-size: 26px;
    text-align: center; }

.control-label,
.col-form-label {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis; }
  .control-label.required:after,
  .col-form-label.required:after {
    color: #dc3545;
    content: ' *';
    margin-left: 5px;
    position: absolute; }

input[placeholder],
textarea[placeholder] {
  font-style: italic; }

.btn-block.text-left {
  text-align: left; }

/* Pagination */
.pagination {
  margin: 0 0 10px; }

.blockquote p:last-of-type {
  margin-bottom: 0; }

.datepicker .table tbody + tbody,
.datepicker .table td,
.datepicker .table th,
.datepicker .table thead th {
  border: 0; }

#main-navigation .navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px; }

#main-navigation img {
  height: 40px; }
