.loading-layer {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  left: 0;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity 0.5s, visibility 0.5s;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  -moz-transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  width: 100%;
  z-index: 999999;
}
.loading-layer.loading-layer__active {
  opacity: 1;
  visibility: visible;
}
.loading-layer h1 {
  width: 100%;
  margin: 0;
  font-size: 26px;
  text-align: center;
}
.loading-layer .fa {
  display: block;
  margin: 0 auto 10px;
}
.tab-content > .tab-pane {
  padding-top: 15px;
}
.control-label {
  overflow: hidden;
  text-overflow: ellipsis;
}
.control-label.required:after {
  content: ' *';
}
.form-horizontal .control-label.required {
  position: relative;
}
.form-horizontal .control-label.required:after {
  position: absolute;
  right: 5px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label.required:after {
    top: 7px;
  }
}
input[placeholder],
textarea[placeholder] {
  font-style: italic;
}
/* Pagination */
.pagination {
  margin: 0 0 10px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
ul.unstyled,
ol.unstyled {
  padding-left: 20px;
}
p {
  text-align: justify;
}
/* Layout */
#logo {
  margin: 10px 0;
}
#main-navigation {
  overflow: hidden;
}
#main-navigation .navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
}
#main-navigation .navbar-nav > li > a {
  cursor: default;
}
#main-navigation .navbar-nav > li.complete > a,
#main-navigation .navbar-nav > li.complete > a:focus,
#main-navigation .navbar-nav > li.complete > a:hover {
  background-color: #449d44;
  color: #fff;
}
@media (min-width: 768px) {
  #main-navigation .navbar-nav {
    margin-left: -15px;
  }
}
#main-navigation img {
  height: 40px;
}
#footer {
  margin-bottom: 10px;
  line-height: 30px;
}
.dl-horizontal.modules-list dd {
  margin-bottom: 5px;
}
