<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<version core="true"/>
		<active>1</active>
	</info>
	<settings>
		<mail></mail>
		<address></address>
		<telephone></telephone>
		<fax></fax>
		<disclaimer><![CDATA[Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links. F&uuml;r den Inhalt der verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich.]]></disclaimer>
		<miscellaneous></miscellaneous>
	</settings>
	<access>
		<item>
			<file>adm_list</file>
			<level>2</level>
		</item>
		<item>
			<file>entry</file>
			<action>
				<name>send_mail</name>
				<level>1</level>
			</action>
			<action>
				<name>edit</name>
				<level>2</level>
			</action>
		</item>
		<item>
			<file>imprint</file>
			<level>1</level>
		</item>
		<item>
			<file>list</file>
			<level>1</level>
		</item>
	</access>
</module>