.users-index-login {
  .form-floating:focus-within {
    z-index: 2;
  }

  input[name="nickname"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[name="pwd"] {
    margin-bottom: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
