<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<tables>menu_items,menu_items_blocks</tables>
		<version core="true"/>
		<active>1</active>
	</info>
	<access>
		<item>
			<file>adm_list</file>
			<level>2</level>
			<include>functions</include>
		</item>
		<item>
			<file>adm_list_blocks</file>
			<level>2</level>
		</item>
		<item>
			<file>create</file>
			<level>2</level>
			<include>functions</include>
		</item>
		<item>
			<file>create_block</file>
			<level>2</level>
		</item>
		<item>
			<file>delete</file>
			<level>2</level>
			<include>functions</include>
		</item>
		<item>
			<file>delete_blocks</file>
			<level>2</level>
			<include>functions</include>
		</item>
		<item>
			<file>edit</file>
			<level>2</level>
			<include>functions</include>
		</item>
		<item>
			<file>edit_block</file>
			<level>2</level>
			<include>functions</include>
		</item>
		<item>
			<file>functions</file>
			<level>1</level>
		</item>
		<item>
			<file>list</file>
			<level>1</level>
			<include>functions</include>
		</item>
		<item>
			<file>extensions/search</file>
			<level>1</level>
		</item>
		<item>
			<file>order</file>
			<level>2</level>
			<include>functions</include>
		</item>
	</access>
</module>