<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<version core="true"/>
		<protected/>
		<active>1</active>
	</info>
	<access>
		<item>
			<file>acp_configuration</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_designs</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_extensions</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_languages</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_list</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_maintenance</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_modules</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_software</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_sql_export</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_sql_optimisation</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_update_check</file>
			<level>2</level>
		</item>
		<item>
			<file>entry</file>
			<action>
				<name>acp_configuration</name>
				<level>2</level>
			</action>
			<action>
				<name>acp_designs</name>
				<level>2</level>
			</action>
			<action>
				<name>acp-languages</name>
				<level>2</level>
			</action>
			<action>
				<name>acp_modactivation</name>
				<level>2</level>
			</action>
			<action>
				<name>acp_moddeactivation</name>
				<level>2</level>
			</action>
			<action>
				<name>acp_sql_export</name>
				<level>2</level>
			</action>
		</item>
	</access>
</module>