@import "../../../Assets/scss/components/variables";

#nav-user-login {
  @media (min-width: $screen-sm-min) {
    margin-bottom: 0;
  }

  .navbar-form {
    margin-top: $line-height-computed / 2;
    margin-bottom: $line-height-computed / 2;
  }
}

#nav-user-menu {
  + #wrapper {
    padding-top: $navbar-height;
  }
}
