.datagrid {
  thead {
    th {
      white-space: nowrap;
    }
  }

  .datagrid-column__mass-action {
    width: 5%;
  }

  .datagrid-column__max-width {
    width: 100%;
  }

  .datagrid-column__date-range {
    width: 22%;
  }

  th.datagrid-column__actions {
    text-indent: -9999em;
  }

  .datagrid-column__actions {
    width: 7%;
  }

  .datagrid-column__action-buttons {
    visibility: hidden;
  }

  tr:hover,
  tr.row-selected {
    .datagrid-column__action-buttons {
      visibility: visible;
    }
  }
}
