<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<version core="true"/>
		<protected/>
		<active>1</active>
	</info>
	<access>
		<item>
			<file>adm_list</file>
			<level>2</level>
		</item>
		<item>
			<file>create</file>
			<level>2</level>
		</item>
		<item>
			<file>edit</file>
			<level>2</level>
		</item>
		<item>
			<file>entry</file>
			<action>
				<name>create</name>
				<level>2</level>
			</action>
			<action>
				<name>delete</name>
				<level>2</level>
			</action>
			<action>
				<name>edit</name>
				<level>2</level>
			</action>
			<action>
				<name>forgot_pwd</name>
				<level>1</level>
			</action>
			<action>
				<name>home</name>
				<level>1</level>
			</action>
			<action>
				<name>register</name>
				<level>1</level>
			</action>
		</item>
		<item>
			<file>forgot_pwd</file>
			<level>1</level>
		</item>
		<item>
			<file>home</file>
			<level>1</level>
		</item>
		<item>
			<file>list</file>
			<level>1</level>
		</item>
		<item>
			<file>login</file>
			<level>1</level>
		</item>
		<item>
			<file>register</file>
			<level>1</level>
		</item>
		<item>
			<file>sidebar</file>
			<level>1</level>
		</item>
		<item>
			<file>signoff</file>
			<level>1</level>
		</item>
	</access>
</module>