<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<tables>users</tables>
		<version core="true"/>
		<protected/>
		<active>1</active>
	</info>
	<settings>
		<language_override>0</language_override>
		<entries_override>0</entries_override>
	</settings>
	<access>
		<item>
			<file>adm_list</file>
			<level>2</level>
		</item>
		<item>
			<file>create</file>
			<level>2</level>
		</item>
		<item>
			<file>delete</file>
			<level>8</level>
		</item>
		<item>
			<file>edit</file>
			<level>4</level>
		</item>
		<item>
			<file>edit_profile</file>
			<level>1</level>
		</item>
		<item>
			<file>edit_settings</file>
			<level>1</level>
		</item>
		<item>
			<file>forgot_pwd</file>
			<level>1</level>
		</item>
		<item>
			<file>home</file>
			<level>1</level>
		</item>
		<item>
			<file>list</file>
			<level>1</level>
		</item>
		<item>
			<file>login</file>
			<level>1</level>
		</item>
		<item>
			<file>logout</file>
			<level>1</level>
		</item>
		<item>
			<file>register</file>
			<level>1</level>
		</item>
		<item>
			<file>settings</file>
			<level>16</level>
		</item>
		<item>
			<file>sidebar</file>
			<level>1</level>
		</item>
		<item>
			<file>view_profile</file>
			<level>1</level>
		</item>
	</access>
</module>
