imports:
  - { resource: components/cache.yml }
  - { resource: components/controllers.yml }
  - { resource: components/events.yml }
  - { resource: components/installer.yml }
  - { resource: components/models.yml }
  - { resource: components/validation.yml }
