<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<version core="true"/>
		<protected/>
		<active>1</active>
	</info>
	<access>
		<item>
			<file>adm_list</file>
			<level>2</level>
		</item>
		<item>
			<file>configuration</file>
			<level>2</level>
		</item>
		<item>
			<file>entry</file>
			<action>
				<name>modactivation</name>
				<level>2</level>
			</action>
			<action>
				<name>moddeactivation</name>
				<level>2</level>
			</action>
			<action>
				<name>configuration</name>
				<level>2</level>
			</action>
			<action>
				<name>lang</name>
				<level>2</level>
			</action>
			<action>
				<name>design</name>
				<level>2</level>
			</action>
			<action>
				<name>sql</name>
				<level>2</level>
			</action>
		</item>
		<item>
			<file>lang_design</file>
			<level>2</level>
		</item>
		<item>
			<file>mod_list</file>
			<level>2</level>
		</item>
		<item>
			<file>optimisation</file>
			<level>2</level>
		</item>
		<item>
			<file>sidebar</file>
			<level>2</level>
		</item>
		<item>
			<file>software</file>
			<level>2</level>
		</item>
		<item>
			<file>sql</file>
			<level>2</level>
		</item>
		<item>
			<file>updates</file>
			<level>2</level>
		</item>
	</access>
</module>