/* Allgemeines */
* {
	margin: 0;
	padding: 0;
}
body {
	background: #333;
	font: 62.5% 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
	color: #333;
}
img {
	border: 0;
}
h1 {
	margin-bottom: 10px;
	font-size: 1.5em;
	text-align: center;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1.0em;
}
a, a:link,
#tabs dl a, #tabs dl a:link {
	color: #069;
	text-decoration: none;
}
a:hover,
#tabs dl a:hover {
	color: #f90;
}
ul, ol {
	margin: 10px 20px;
}
ul ul, ol ol {
	margin: 0 20px;
}
p {
	margin: 10px 0;
	text-align: justify;
}
table.acp-table {
	width: 100%;
	margin: 0 auto;
	border: 0;
	font-size: 1.0em;
	text-align: center;
}
#queries, #queries tr, #queries th, #queries td {
	border: 1px solid #bbb;
	border-collapse: collapse;
}
#queries th {
	background: #069 url('../../designs/acp3/images/common_header.png') repeat-x;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 24px;
	color: #f90;
}
/* Layout */
#box {
	width: 75%;
	min-width: 1250px;
	margin: 1% auto;
	padding: 1%;
	background: #fff;
	border: 2px solid #ccc;
}
#page-title {
	width: 104px;
	height: 45px;
	padding: 0 0 0 15px;
	background: url('../../designs/acp3/images/logo.png') no-repeat;
	text-indent: -9999px;
}
#header {
	position: relative;
}
#header ul {
	height: 30px;
	margin: 0;
	padding-left: 10px;
	background: url('../../designs/acp3/images/header.png') repeat-x;
	font: bold 1.2em/30px Verdana, Arial, sans-serif;
	list-style: none;
}
#header ul li {
	float: left;
}
#header ul li span {
	margin-right: 3px;
	padding: 0 5px;
	color: #fff;
	display: block;
}
#header ul li span.selected {
	color: #f00;
}
#languages {
	font-size: 1.2em;
	position: absolute;
	top: 0;
	right: 10px;
	line-height: 45px;
}
#languages label {
	font-weight: bold;
	font-size: 1.1em;
}
#content {
	width: 80%;
	margin: 10px auto 0;
	font-size: 1.2em;
}
#footer {
	clear: both;
}
.licence {
	width: 70%;
	height: 400px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #c2c2c2;
	overflow: auto;
}
/* Formulare */
form {
	text-align: center;
}
fieldset {
	width: 70%;
	margin: 0 auto 1px;
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 1em;
}
#tabs {
	width: 70%;
	margin: 0 auto;
	font-size: 1em;
}
#tabs table, fieldset dl, #tabs dl {
	font-family: 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
	font-size: 1em;
}
fieldset dl, #tabs dl {
	text-align: left;
}
fieldset ol {
	margin: 0 20px;
}
legend {
	padding: 1px 6px;
	font: bold 1.1em/20px Arial, sans-serif;
	color: #069;
}
label {
	font: 1.0em Arial, sans-serif;
	color: #000;
	cursor: pointer;
}
fieldset dl dt label, #tabs div dl dt label {
	font-weight: bold;
}
fieldset dl dt span, #tabs div dl dt span {
	font-size: 0.9em;
}
label:hover,
fieldset dl:hover dt label, #tabs dl:hover dt label {
	color: #f00;
}
fieldset input, fieldset textarea,
#tabs div input, #tabs div textarea {
	display: block;
}
fieldset input, fieldset select, fieldset textarea,
#tabs div input, #tabs div select, #tabs div textarea {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 1px;
	padding: 2px;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ccc #eee #eee;
	font: 100% Arial, sans-serif;
}
fieldset input:hover, fieldset select:hover, fieldset textarea:hover,
#tabs input:hover, #tabs select:hover, #tabs textarea:hover {
	border-color: #d0d0d0;
}
fieldset input:focus, fieldset select:focus, fieldset textarea:focus,
#tabs input:focus, #tabs select:focus, #tabs textarea:focus {
	border-color: #aaa;
}
fieldset dl dd input.checkbox, #tabs div input.checkbox {
	width: auto;
	background: none;
	border: 0;
	display: inline;
}
option {
	padding: 0 5px 0 3px;
}
fieldset textarea, #tabs div textarea {
	height: 150px;
	overflow: auto;
}
.form {
	padding: 1px 7px;
	background: #eee;
	border: 1px solid #ccc;
	font-size: 1.1em;
	font-family: Arial, sans-serif;
	color: #000;
	cursor: pointer;
}
a.form, a.form:link,
#tabs a.form, #tabs a.form:link {
	padding: 2px 10px;
	color: #000;
}
.form:hover, a.form:hover,
#tabs a.form:hover {
	color: #f00;
}
.error-box {
	width: 70%;
	margin: 2px auto 10px;
	padding: 10px;
	background: #ffc;
	border: 1px solid #ddd;
	text-align: justify;
}
.error-box ul {
	margin-bottom: 0;
}
.error-box h4 {
	padding-bottom: 5px;
	border-bottom: 1px dashed #ddd;
	color: #f00000;
}
.success {
	width: 70%;
	margin: 0 auto;
	border: 1px solid #eee;
	border-color: #eee #c2c2c2 #c2c2c2 #eee;
	text-align: center;
}
.forward {
	background: #e5e5e5;
	line-height: 28px;
}