ul, ol {
	margin: 8px 0 8px 25px;
}
ul.unstyled, ol.unstyled {
	margin: 0;
}
p {
	text-align: justify;
}
/* Layout */
#logo {
	width: 104px;
	height: 45px;
	margin: 10px 0 10px 10px;
	background: url('../../designs/acp3/img/logo.png') no-repeat;
	text-indent: -9999px;
}
#languages {
	margin: 10px 0;
}
.licence {
	width: 80%;
	height: 400px;
	margin: 0 auto;
	padding: 10px;
	border: 1px dotted #ddd;
	overflow: auto;
}
.nav-list {
	margin: 0;
}