services:
  permissions.model.rolerepository:
    class: ACP3\Modules\ACP3\Permissions\Model\Repository\RoleRepository
    arguments:
      - '@core.db'

  permissions.model.rulerepository:
    class: ACP3\Modules\ACP3\Permissions\Model\Repository\RuleRepository
    arguments:
      - '@core.db'

  permissions.model.resourcerepository:
    class: ACP3\Modules\ACP3\Permissions\Model\Repository\ResourceRepository
    arguments:
      - '@core.db'

  permissions.model.privilegerepository:
    class: ACP3\Modules\ACP3\Permissions\Model\Repository\PrivilegeRepository
    arguments:
      - '@core.db'

  permissions.model.userrolerepository:
    class: ACP3\Modules\ACP3\Permissions\Model\Repository\UserRoleRepository
    arguments:
      - '@core.db'

  permissions.model.resources_model:
    class: ACP3\Modules\ACP3\Permissions\Model\ResourcesModel
    arguments:
      - '@core.event_dispatcher'
      - '@permissions.model.resourcerepository'

  permissions.model.roles_model:
    class: ACP3\Modules\ACP3\Permissions\Model\RolesModel
    arguments:
      - '@core.event_dispatcher'
      - '@permissions.model.rolerepository'
      - '@permissions.nested_set.operation.insert'
      - '@permissions.nested_set.operation.edit'
      - '@menus.nested_set.operation.delete'
      - '@core.helpers.secure'
