hr {
	margin: 0;
}
fieldset {
	margin-top: 13px;
	padding-top: 20px;
	display: block;
	position: relative;
}
legend {
	position: absolute;
	top: -10px;
	left: 0;
}
input.form {
	padding: 0;
}
a.form {
	padding: 2px 18px;
}