<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<tables>pages,pages_blocks</tables>
		<version core="true"/>
		<active>1</active>
	</info>
	<access>
		<item>
			<file>adm_list</file>
			<level>2</level>
		</item>
		<item>
			<file>create</file>
			<level>2</level>
		</item>
		<item>
			<file>edit</file>
			<level>2</level>
		</item>
		<item>
			<file>functions</file>
			<level>1</level>
		</item>
		<item>
			<file>adm_list_blocks</file>
			<level>2</level>
		</item>
		<item>
			<file>create_block</file>
			<level>2</level>
		</item>
		<item>
			<file>edit_block</file>
			<level>2</level>
		</item>
		<item>
			<file>entry</file>
			<action>
				<name>create</name>
				<level>2</level>
			</action>
			<action>
				<name>delete</name>
				<level>2</level>
			</action>
			<action>
				<name>edit</name>
				<level>2</level>
			</action>
			<action>
				<name>create_block</name>
				<level>2</level>
			</action>
			<action>
				<name>delete_blocks</name>
				<level>2</level>
			</action>
			<action>
				<name>edit_block</name>
				<level>2</level>
			</action>
		</item>
		<item>
			<file>list</file>
			<level>1</level>
		</item>
		<item>
			<file>extensions/search</file>
			<level>1</level>
		</item>
	</access>
</module>