<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<tables>gallery,galpics</tables>
		<version core="true"/>
		<active>1</active>
	</info>
	<access>
		<acp>
			<item>
				<file>acp_add_picture</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_create</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_edit_gallery</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_edit_picture</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_list</file>
				<level>2</level>
			</item>
			<item>
				<file>entry</file>
				<action>
					<name>acp_add_picture</name>
					<level>2</level>
				</action>
				<action>
					<name>acp_create</name>
					<level>2</level>
				</action>
				<action>
					<name>acp_delete_gallery</name>
					<level>2</level>
				</action>
				<action>
					<name>acp_delete_picture</name>
					<level>2</level>
				</action>
				<action>
					<name>acp_edit_gallery</name>
					<level>2</level>
				</action>
				<action>
					<name>acp_edit_picture</name>
					<level>2</level>
				</action>
			</item>
		</acp>
		<frontend>
			<item>
				<file>details</file>
				<level>1</level>
			</item>
			<item>
				<file>list</file>
				<level>1</level>
			</item>
			<item>
				<file>pics</file>
				<level>1</level>
			</item>
		</frontend>
	</access>
</module>