@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$system-dataset-box-margin-bottom: ($line-height-computed / 2) !default;
$system-dataset-box-download-icon-text-color: $text-color !default;
$system-dataset-box-padding-x: floor(($grid-gutter-width / 2)) !default;

.dataset-box {
  margin: 0 auto $system-dataset-box-margin-bottom;

  .navbar-brand {
    height: auto;
    margin: 0;
  }

  .navbar-header {
    float: left;

    .navbar-text {
      float: left;
      margin-right: $system-dataset-box-padding-x;
      margin-left: $system-dataset-box-padding-x;
    }
  }

  small.navbar-text,
  .small.navbar-text {
    line-height: $line-height-computed;

    @media (max-width: $screen-xs-max) {
      margin-right: floor(($grid-gutter-width / 2));
    }
  }

  .content {
    margin: -8px $system-dataset-box-padding-x $system-dataset-box-margin-bottom;
  }

  .hyperlink {
    a.download-file {
      display: block;
      font-weight: 700;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .fa-download {
      color: $system-dataset-box-download-icon-text-color;
    }
  }
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}
