.datagrid {
  .datagrid-column__mass-action {
    width: 5%;
  }

  .datagrid-column__date-range {
    width: 22%;
  }

  th.datagrid-column__actions {
    text-indent: -9999em;
  }

  .btn-group {
    display: flex;

    > .btn {
      float: none;
    }
  }

  .datagrid-column__actions {
    width: 7%;
  }

  .datagrid-column__action-buttons {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;

    .btn {
      margin-left: 3px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  tr:hover,
  tr.info {
    .datagrid-column__action-buttons {
      visibility: visible;
    }
  }
}
