$system-datagrid-data-range-column-width: 22% !default;

.datagrid {
  .datagrid-column__mass-action {
    width: 0.1%;
    white-space: nowrap;
  }

  .datagrid-column__date-range {
    width: $system-datagrid-data-range-column-width;
  }

  th.datagrid-column__actions {
    text-indent: -9999em;
  }

  .datagrid-column__actions {
    width: 0.1%;
    white-space: nowrap;
  }
}
