/*
 * Copyright (c) by the ACP3 Developers.
 * See the LICENSE file at the top-level module directory for licensing details.
 */

@import "pkg:bootstrap/scss/functions";
@import "pkg:bootstrap/scss/variables";
@import "pkg:bootstrap/scss/mixins";

$forms-required-star-text-color: inherit !default;

.col-form-label,
.form-label {
  &.required {
    &::after {
      color: $forms-required-star-text-color;
      content: " *";
    }
  }
}
