<?xml version="1.0" encoding="UTF-8"?>
<module>
    <info>
        <name lang="true"/>
        <description lang="true"/>
        <author>Tino Goratsch</author>
        <tables>users</tables>
        <version core="true"/>
        <protected/>
        <dependencies>
            <module>system</module>
        </dependencies>
    </info>
</module>
