<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<tables>guestbook</tables>
		<version core="true"/>
		<active>1</active>
	</info>
	<access>
		<item>
			<file>acp_edit</file>
			<level>2</level>
		</item>
		<item>
			<file>acp_list</file>
			<level>2</level>
		</item>
		<item>
			<file>create</file>
			<level>1</level>
		</item>
		<item>
			<file>entry</file>
			<action>
				<name>create</name>
				<level>1</level>
			</action>
			<action>
				<name>delete</name>
				<level>2</level>
			</action>
			<action>
				<name>edit</name>
				<level>2</level>
			</action>
		</item>
		<item>
			<file>list</file>
			<level>1</level>
		</item>
	</access>
</module>