@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$gallery-picture-description-width: 60% !default;

.picture {
  margin: ($line-height-computed / 2) 0;
  text-align: center;

  .description {
    width: $gallery-picture-description-width;
    margin: ($line-height-computed / 2) auto;
  }
}
