.loading-layer {
  -ms-flex-align: center;
      align-items: center;
  background: rgba(255, 255, 255, 0.5);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  left: 0;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  width: 100%;
  z-index: 999999; }
  .loading-layer.loading-layer__active {
    opacity: 1;
    visibility: visible; }
  .loading-layer h1 {
    width: 100%;
    margin: 0;
    font-size: 26px;
    text-align: center; }

/* Table of contents */
#toc {
  width: 20%;
  margin: 5px 10px 10px 0;
  float: left; }

#page-break-link {
  margin: 5px 0; }

.cookie-consent {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 999; }
  .cookie-consent .cookie-consent__button {
    margin-left: 15px; }
  .cookie-consent .cookie-consent__body {
    overflow: hidden; }

/* ACP */
#adm-list .navbar-text {
  margin: 0; }
  #adm-list .navbar-text a {
    color: #333; }
  #adm-list .navbar-text .btn-link {
    border: 0;
    margin-left: 8px;
    padding: 0; }
  #adm-list .navbar-text .fas {
    font-size: 1.25rem; }

#adm-list a,
#adm-list input,
#adm-list button {
  margin: 0 0 0 8px;
  float: right; }

.datagrid thead th {
  white-space: nowrap; }

.datagrid .datagrid-column__mass-action {
  width: 5%; }

.datagrid .datagrid-column__max-width {
  width: 100%; }

.datagrid .datagrid-column__date-range {
  width: 22%; }

.datagrid th.datagrid-column__actions {
  text-indent: -9999em; }

.datagrid .datagrid-column__actions {
  width: 7%; }

.datagrid .datagrid-column__action-buttons {
  visibility: hidden; }

.datagrid tr:hover .datagrid-column__action-buttons,
.datagrid tr.row-selected .datagrid-column__action-buttons {
  visibility: visible; }

.control-label,
.col-form-label {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis; }
  .control-label.required:after,
  .col-form-label.required:after {
    color: #dc3545;
    content: ' *';
    margin-left: 5px;
    position: absolute; }

input[placeholder],
textarea[placeholder] {
  font-style: italic; }

/* Pagination */
.pagination {
  margin-top: 0; }

.blockquote p:last-of-type {
  margin-bottom: 0; }

.datepicker .table tbody + tbody,
.datepicker .table td,
.datepicker .table th,
.datepicker .table thead th {
  border: 0; }

/* Position Bootstrap modal dialogs statically */
.modal.modal-static {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block; }
