.loading-layer {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  left: 0;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity 0.5s, visibility 0.5s;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  -moz-transition: opacity 0.5s, visibility 0.5s;
  visibility: hidden;
  width: 100%;
  z-index: 999999;
}
.loading-layer.loading-layer_active {
  opacity: 1;
  visibility: visible;
}
.loading-layer .loading-layer__title {
  width: 100%;
  margin: 0;
  font-size: 26px;
  text-align: center;
}
.loading-layer .fa {
  display: block;
  margin: 0 auto 10px;
}
.dataset-box {
  margin: 0 auto 10px;
}
.dataset-box .navbar-brand {
  height: auto;
  margin: 0;
}
.dataset-box .navbar-header {
  float: left;
}
.dataset-box .navbar-header .navbar-text {
  margin-right: 15px;
  margin-left: 15px;
  float: left;
}
.dataset-box small.navbar-text,
.dataset-box .small.navbar-text {
  line-height: 20px;
}
@media (max-width: 767px) {
  .dataset-box small.navbar-text,
  .dataset-box .small.navbar-text {
    margin-right: 15px;
  }
}
.dataset-box .dataset-box__content {
  margin: -8px 15px 10px;
}
.dataset-box .dataset-box__content.dataset-box__content_detail-page {
  margin: 10px 0;
}
.dataset-box .dataset-box__hyperlink .fa-download {
  color: #333;
}
.dataset-box .dataset-box__download-file {
  font-weight: bold;
  display: block;
}
.dataset-box .dataset-box__download-file:hover,
.dataset-box .dataset-box__download-file:focus {
  text-decoration: none;
}
#page-break-link {
  margin: 5px 0;
}
.cookie-consent {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.cookie-consent .cookie-consent__button {
  margin-left: 15px;
}
.cookie-consent p {
  overflow: hidden;
}
.tab-content > .tab-pane {
  padding-top: 15px;
}
.control-label {
  overflow: hidden;
  text-overflow: ellipsis;
}
.control-label.required:after {
  content: ' *';
}
.form-horizontal .control-label.required {
  position: relative;
}
.form-horizontal .control-label.required:after {
  position: absolute;
  right: 5px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label.required:after {
    top: 7px;
  }
}
input[placeholder],
textarea[placeholder] {
  font-style: italic;
}
/* Pagination */
.pagination {
  margin: 0 0 10px;
}
/*
 * Copyright (c) by the ACP3 Developers.
 * See the LICENCE file at the top-level module directory for licencing details.
 */
.toc {
  width: 20%;
  margin: 5px 10px 10px 0;
  float: left;
}
/* Datensätze */
.table .sub-table-header {
  background: #f6f6f6;
  line-height: 26px;
  font-weight: bold;
}
.table .sub-table-header .has-buttons {
  line-height: 30px;
}
.table .sub-table-header span,
.table .sub-table-header div {
  font-weight: normal;
}
/* Position Bootstrap modal dialogs statically */
.modal.static {
  margin: 0 auto;
  position: static;
  display: block;
  overflow: auto;
}
.modal.static .modal-footer {
  margin-top: 0;
  border-top: none;
}
/* Inline validation errors */
.validation-failed {
  margin: 15px 0 0;
}
/* Cache management */
.cache-type {
  line-height: 34px;
}
.alert.alert-sm {
  padding: 8px;
}
