/* Allgemeine Textausrichtungen */
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.align-justify {
	text-align: justify;
}
/* Datensätze */
table .sub-table-header {
	background: #f6f6f6;
	line-height: 26px;
	font-weight: bold;
}
table .sub-table-header span, table .sub-table-header div {
	font-weight: normal;
}
.dataset-box {
	margin: 0 auto 10px;
}
.dataset-box .header {
	min-height: 30px;
	padding: 0 10px;
	background-color: #1B1B1B;
	background-image: -moz-linear-gradient(top, #222, #111);
	background-image: -ms-linear-gradient(top, #222, #111);
	background-image: -webkit-linear-gradient(top, #222, #111);
	background-image: -o-linear-gradient(top, #222, #111);
    background-image: linear-gradient(top, #222, #111);
	background-repeat: repeat-x;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	line-height: 30px;
	color: #999;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.dataset-box .header h1 {
	margin: 0;
	font-size: 14px;
	line-height: 30px;
}
.dataset-box .header a:hover {
	text-decoration: none;
}
.dataset-box .header small {
	font-size: 11px;
}
.dataset-box .small {
	font-weight: normal;
}
.dataset-box .header.bigger {
	min-height: 40px;
	line-height: 40px;
}
.dataset-box .content {
	margin: 10px;
}
.dataset-box .hyperlink {
	margin: 8px 0 0;
	padding: 4px;
	background-color: #eee;
	background-image: -moz-linear-gradient(top, #eee, #fff);
	background-image: -ms-linear-gradient(top, #eee, #fff);
	background-image: -webkit-linear-gradient(top, #eee, #fff);
	background-image: -o-linear-gradient(top, #eee, #fff);
	background-image: linear-gradient(top, #eee, #fff);
	background-repeat: repeat-x;
	border-top: 1px dotted #ccc;
	line-height: 20px;
}
.dataset-box .hyperlink a.download-file {
	padding-left: 34px;
	background: url('../../libraries/crystal_project/32/download.png') no-repeat;
	font-weight: bold;
	line-height: 34px;
	display: block;
}
/* Inhaltsverzeichnis */
#toc {
	width: 20%;
	margin: 5px 10px 10px 0;
	float: left;
}
#toc h4 {
	margin: 0;
}
#page-break-link {
	margin: 5px;
}
/* ACP */
#adm-list {
	text-align: right;
}
#adm-list h2 {
	margin: 0;
	padding: 0;
	font-size: 17px;
	color: #333;
	float: left;
}
#adm-list a, #adm-list input {
	margin: 4px 0 0 8px;
	line-height: normal;
	float: right;
}
/* Bootstrap Modal Dialog statisch positionieren */
.modal.static {
	margin: 0 auto;
	position: static;
	top: auto;
	left: auto;
}
/* Buttons Group um richtige Formelemente erweitern */
.btn-group > input {
	display: none;
}
.btn-group input:first-child + .btn {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin-left: 0;
}
input:checked + label.btn {
	background-color: #E6E6E6;
	background-image: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.5);
	outline: 0 none;
}
input[disabled] + label.btn {
	background-color: #E6E6E6;
	background-image: none;
	box-shadow: none;
	cursor: default;
	opacity: 0.65;
}