* {
	margin: 0;
	padding: 0;
}
body {
	background: #333;
	font: 62.5% 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
	color: #333;
}
img {
	border: 0;
}
h1 {
	margin-bottom: 10px;
	font-size: 1.5em;
	text-align: center;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1.0em;
}
a, a:link,
#tabs dl a, #tabs dl a:link {
	color: #069;
	text-decoration: none;
}
a:hover,
#tabs dl a:hover {
	color: #f90;
}
ul, ol {
	margin: 10px 20px;
}
ul ul, ol ol {
	margin: 0 20px;
}
p, caption {
	padding: 5px 0;
	text-align: justify;
}
pre {
	width: 99%;
	height: 500px;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 1.1em;
	font-family: 'Courier New', serif;
	overflow: auto;
}
.acp-table, .acp-table tr, .acp-table th, .acp-table td {
	border: 1px solid #bbb;
	border-collapse: collapse;
	font-size: 1.0em;
	text-align: center;
}
.no-border, .no-border tr, .no-border th, .no-border td {
	border: 0;
}
.acp-table {
	width: 100%;
	margin: 0 auto;
}
.acp-table .selected {
	background: #fafafa;
}
.acp-table tbody tr:hover {
	background: #f6f6f6;
}
.acp-table th {
	padding: 0 3px;
	background: #069 url('images/common_header.png') repeat-x;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 24px;
	color: #f90;
	white-space: nowrap;
}
.acp-table td {
	padding: 3px;
}
tfoot,
.sub-table-header,
.sub-table-header th, th.sub-table-header {
	background: #eee;
	font-weight: bold;
	color: #333;
}
/* Layout */
#box {
	width: 75%;
	min-width: 1250px;
	margin: 1% auto;
	padding: 1%;
	background: #fff;
	border: 2px solid #ccc;
}
#page-title {
	width: 104px;
	height: 45px;
	padding: 0 0 0 15px;
	background: url('images/logo.png') no-repeat;
	text-indent: -9999px;
}
#header ul {
	height: 30px;
	margin: 0;
	padding-left: 10px;
	background: url('images/header.png') repeat-x;
	font: bold 1.3em Verdana, Arial, sans-serif;
	list-style: none;
}
#header li {
	float: left;
	position: relative;
}
#header li a {
	margin-right: 3px;
	padding: 0 5px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	white-space: nowrap;
	display: block;
}
#header li a:hover, #header li .selected {
	color: #f00;
}
#header ul ul {
	width: 100px;
	height: auto;
	margin-left: 1px;
	padding: 0;
	background: #0A70AA;
	font-size: 1.0em;
	display: none;
	position: absolute;
	top: 30px;
	left: -5px;
}
#header ul ul a {
	width: 80px;
	padding: 0 10px;
	margin: 0;
}
#header ul ul ul {
	top: 0;
	left: 99px;
}
#breadcrumb {
	padding-left: 15px;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 40px;
	color: #f00;
	clear: both;
}
#breadcrumb a {
	text-decoration: underline;
}
#breadcrumb a, #breadcrumb span {
	color: #333;
}
#breadcrumb a:hover {
	color: #f00;
	text-decoration: none;
}
#sidebar-left, #sidebar-right {
	width: 18%;
	border: 1px solid #bbb;
	border-width: 0 1px 1px;
	font-size: 1.2em;
	text-align: left;
	float: left;
}
#sidebar-right {
	float: right;
}
#sidebar-left h4, #sidebar-right h4 {
	height: 25px;
	padding-left: 15px;
	background: url('images/common_header.png') repeat-x;
	border-top: 1px solid #bbb;
	font-size: 1.1em;
	line-height: 25px;
	color: #f90;
	clear: both;
}
#sidebar-left ul, #sidebar-right ul {
	margin: 0;
	list-style: none;
}
#sidebar-left li, #sidebar-right li {
	width: 100%;
	background: #eee;
	border-top: 1px solid #bbb;
	line-height: 22px;
	text-align: center;
	float: left;
}
#sidebar-left li a, #sidebar-right li a {
	padding-left: 15px;
	text-align: left;
	display: block;
}
#sidebar-left li a:hover, #sidebar-left li .selected,
#sidebar-right li a:hover, #sidebar-right li .selected {
	background: #f6f6f6;
	color: #f90;
}
#sidebar-left .admin ul {
	display: none;
}
#sidebar-left ul ul a {
	padding-left: 30px;
}
#content {
	width: 62%;
	margin: 0 0 0 0.9%;
	font-size: 1.2em;
	float: left;
}
#footer {
	clear: both;
}
/* Formulare */
form {
	text-align: center;
}
fieldset {
	width: 90%;
	margin: 0 auto 1px;
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 1em;
}
#tabs {
	width: 90%;
	margin: 0 auto;
	font-size: 1em;
}
#tabs table {
	font-family: 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
	font-size: 1em
}
fieldset dl, #tabs dl {
	text-align: left;
}
fieldset fieldset {
	width: 70%;
	margin-top: 5px;
}
fieldset.captcha {
	width: 35%;
}
.no-border {
	border: 0;
}
legend {
	padding: 1px 6px;
	font: bold 1.1em/20px Arial, sans-serif;
	color: #069;
}
label {
	font: 1.0em Arial, sans-serif;
	color: #000;
	cursor: pointer;
	white-space: nowrap;
}
label:hover {
	color: #f00;
}
fieldset dt label, #tabs dt label {
	font-weight: bold;
}
fieldset dt span, #tabs dt span {
	font-size: 0.9em;
}
fieldset input, fieldset textarea,
#tabs input, #tabs textarea {
	display: block;
}
fieldset input, fieldset select, fieldset textarea,
#tabs input, #tabs select, #tabs textarea {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 1px;
	padding: 2px;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #c0c0c0 #eee #eee #c0c0c0;
	font: 100% Arial, sans-serif;
}
fieldset input:hover, fieldset select:hover, fieldset textarea:hover,
fieldset input:focus, fieldset select:focus, fieldset textarea:focus,
#tabs input:hover, #tabs select:hover, #tabs textarea:hover,
#tabs input:focus, #tabs select:focus, #tabs textarea:focus {
	background: #ffc;
}
fieldset input.error, fieldset select.error, fieldset textarea.error,
#tabs input.error, #tabs select.error, #tabs textarea.error {
	box-shadow: 0 0 1.5px 1px #f00;
}
:-moz-ui-invalid {
	box-shadow: 0 0 1.5px 1px #f00;
}
fieldset input.checkbox, #tabs input.checkbox, table input.checkbox,
fieldset input[type="file"], #tabs input[type="file"] {
	width: auto;
	background: none;
	border: 0;
	display: inline;
}
.readonly, .readonly:hover, .readonly:focus {
	background: #f2f2f2;
	color: #888;
}
option {
	padding: 0 5px 0 3px;
}
fieldset textarea, #tabs textarea {
	height: 150px;
	overflow: auto;
}
.form-bottom {
	margin-top: 20px;
}
.form {
	padding: 1px 7px;
	background: #eee;
	border: 1px solid #ccc;
	font-size: 1.1em;
	font-family: Arial, sans-serif;
	color: #000;
	cursor: pointer;
}
a.form, a.form:link,
#tabs a.form, #tabs a.form:link {
	padding: 2px 10px;
	color: #000;
}
.form:hover,
#tabs a.form:hover {
	color: #f00;
}
.error-box {
	width: 85%;
	margin: 2px auto;
	padding: 10px;
	background: #ffc;
	border: 1px solid #ddd;
	text-align: justify;
}
.error-box ul {
	margin-bottom: 0;
}
.error-box h4 {
	padding-bottom: 5px;
	border-bottom: 1px dashed #ddd;
	color: #f00000;
}
.error-box h5 {
	text-align: center;
}
.confirm-box {
	width: 85%;
	margin: 0 auto;
	border: 1px solid #bbb;
	text-align: center;
}
.confirm-box .header {
	background: #069 url('images/common_header.png') repeat-x;
	border-bottom: 1px solid #bbb;
	font-weight: bold;
	line-height: 25px;
	color: #f90;
}
.confirm-box .content {
	background: #eee;
	line-height: 28px;
}
.redirect-message {
	margin: 10px 0;
	background: #eee;
	border: 1px dotted #ccc;
	border-width: 1px 0;
}
.redirect-message h4 {
	margin: 5px 0;
	text-align: center;
}
/* Seitenauswahl */
#pagination {
	height: 25px;
	margin: 4px 0;
	padding: 0 5px;
	border: 1px dotted #ccc;
	border-width: 1px 0;
	font: bold 0.9em/25px Verdana, Arial, sans-serif;
	position: relative;
	text-align: center;
}
#pagination a.next, #pagination a.previous {
	padding: 0;
	border: 0;
	position: absolute;
	top: 0;
}
#pagination a.next {
	right: 0;
}
#pagination a.previous {
	left: 0;
}
#pagination a.no-border {
	padding: 0;
	border: 0;
}
/* Inhaltsverzeichnis */
#toc {
	width: 20%;
	margin: 5px 10px 10px 0;
	padding: 5px;
	background: #eee;
	border: 1px dotted #ccc;
	float: left;
}
#toc h4 {
	text-align: center;
}
#page-break-form {
	font-size: 1.1em;
}
#page-break-link {
	margin: 5px;
	text-align: left;
}
/* ACP */
#adm-list {
	height: 40px;
	margin: 0 0 5px;
	padding: 0 10px;
	background: #eee;
	border: 1px dotted #ccc;
	border-width: 1px 0;
	line-height: 40px;
	text-align: left;
}
#adm-list a, #adm-list input {
	margin: 4px 0 0 8px;
	line-height: normal;
	float: right;
}
.mark-entries {
	line-height: 25px;
	text-align: left;
}
.mark-entries span {
	font-weight: bold;
}