/* Logo */
#logo {
    margin: 10px 20px;
    width: 222px;
    height: 89px;
    background: url('img/logo.png') no-repeat;
    text-indent: -9999px;
}

#logo a {
    height: 89px;
    display: block;
}

#loading-layer {
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}
#loading-layer h1 {
    position: relative;
    top: 50%;
    text-align: center;
}

#loading-layer span {
    display: block;
}