/* Allgemeines */
* {
	margin: 0;
	padding: 0;
}
html, body {
	line-height: 1.166;
}
body {
	background: #fff;
	font: 62.5% 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
	color: #333;
}
#maintenance {
	width: 70%;
	height: 40px;
	margin: -20px auto;
	padding: 0 20px;
	background: #ffc;
	border: 1px dotted #f00;
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 40px;
	position: absolute;
	top: 50%;
	left: 15%;
}