* {
	margin: 0;
	padding: 0;
}
body {
	padding: 1%;
	background: #fff;
	font: 62.5% 'Lucida Grande', 'Trebuchet MS', Arial, sans-serif;
	color: #333;
}
img {
	border: 0;
}
h1 {
	margin-bottom: 10px;
	font-size: 1.5em;
	text-align: center;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1.0em;
}
a, a:link {
	color: #069;
	text-decoration: none;
}
a:hover {
	color: #f90;
}
ul, ol {
	margin: 10px 20px;
}
ul ul, ol ol {
	margin: 0 20px;
}
p, caption {
	padding: 5px 0;
	text-align: justify;
}
pre {
	width: 99%;
	height: 500px;
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 1.1em;
	font-family: 'Courier New', serif;
	overflow: auto;
}
.acp-table, .acp-table tr, .acp-table th, .acp-table td {
	border: 1px solid #333;
	border-collapse: collapse;
	font-size: 1.0em;
	text-align: center;
}
.no-border, .no-border tr, .no-border th, .no-border td {
	border: 0;
}
.acp-table {
	width: 100%;
	margin: 0 auto;
}
.acp-table .selected {
	background: #f5f5f5;
}
.acp-table th {
	padding: 0 3px;
	background: #069 url('images/common_header.png') repeat-x;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 24px;
	color: #f90;
	white-space: nowrap;
}
.acp-table td {
	padding: 3px;
}
tfoot,
.sub-table-header,
.sub-table-header th, th.sub-table-header {
	background: #e7e7e7;
	font-weight: bold;
	color: #333;
}
#content {
	font-size: 1.2em;
}
/* Formulare */
form {
	text-align: center;
}
fieldset {
	width: 90%;
	margin: 0 auto 1px;
	padding: 10px;
	border: 1px solid #c2c2c2;
	font-size: 100%;
}
#tabs {
	width: 90%;
	margin: 0 auto;
	font-size: 100%;
}
fieldset dl, #tabs dl {
	text-align: left;
}
fieldset fieldset {
	width: 70%;
	margin-top: 5px;
}
fieldset.captcha {
	width: 35%;
}
.no-border {
	border: 0;
}
legend {
	padding: 1px 6px;
	font: bold 1.1em/20px Arial, sans-serif;
	color: #069;
}
label {
	font: 1.0em Arial, sans-serif;
	color: #000;
	cursor: pointer;
	white-space: nowrap;
}
label:hover {
	color: #f00;
}
fieldset dt label, #tabs dt label {
	font-weight: bold;
}
fieldset dt span, #tabs dt span {
	font-size: 0.9em;
}
fieldset input, fieldset textarea,
#tabs input, #tabs textarea {
	display: block;
}
fieldset input, fieldset select, fieldset textarea,
#tabs input, #tabs select, #tabs textarea {
	width: 100%;
	margin: 1px;
	background: #fff;
	border: 1px solid #c2c2c2;
	font: 100% Arial, sans-serif;
}
fieldset input:hover, fieldset select:hover, fieldset textarea:hover,
fieldset input:focus, fieldset select:focus, fieldset textarea:focus,
#tabs input:hover, #tabs select:hover, #tabs textarea:hover,
#tabs input:focus, #tabs select:focus, #tabs textarea:focus {
	background: #ffc;
}
fieldset input.error, fieldset select.error, fieldset textarea.error,
#tabs input.error, #tabs select.error, #tabs textarea.error {
	box-shadow: 0 0 1.5px 1px #f00;
}
:-moz-ui-invalid {
	box-shadow: 0 0 1.5px 1px #f00;
}
fieldset input.checkbox, #tabs input.checkbox, table input.checkbox,
fieldset input[type="file"], #tabs input[type="file"] {
	width: auto;
	background: none;
	border: 0;
	display: inline;
}
.readonly, .readonly:hover, .readonly:focus {
	background: #eee;
	color: #888;
}
option {
	padding: 0 5px 0 3px;
}
fieldset textarea, #tabs textarea {
	height: 150px;
	overflow: auto;
}
.form-bottom {
	margin-top: 20px;
}
.form {
	padding: 1px 7px;
	background: #e5e5e5;
	border: 1px solid #c2c2c2;
	font-size: 1.1em;
	font-family: Arial, sans-serif;
	color: #000;
	cursor: pointer;
}
a.form {
	padding: 2px 10px;
}
.form:hover {
	background: #eee;
	color: #f00;
}
.error-box {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	background: #ffc;
	border: 1px solid #ddd;
	text-align: justify;
}
.error-box ul {
	margin-bottom: 0;
}
.error-box h4 {
	padding-bottom: 5px;
	border-bottom: 1px dashed #ddd;
	color: #f00000;
}
.error-box h5 {
	text-align: center;
}
.confirm-box {
	width: 80%;
	height: 54px;
	margin: -28px auto;
	border: 1px solid #333;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 10%;

}
.confirm-box .header {
	height: 25px;
	background: #069 url('images/common_header.png') repeat-x;
	border-bottom: 1px solid #333;
	font-weight: bold;
	line-height: 25px;
	color: #f90;
}
.confirm-box .content {
	height: 28px;
	background: #eee;
	line-height: 28px;
}
.redirect-message {
	margin: 10px 0;
	background: #eee;
	border: 1px solid #ccc;
	border-width: 1px 0;
}
.redirect-message h4 {
	margin: 5px 0;
	text-align: center;
}
/* Seitenauswahl */
#pagination {
	height: 25px;
	margin: 4px 0;
	padding: 0 5px;
	border: 1px dotted #ccc;
	border-width: 1px 0;
	font: bold 0.9em/25px Verdana, Arial, sans-serif;
	text-align: center;
	clear: both;
}
#pagination a.next {
	float: right;
}
#pagination a.previous {
	float: left;
}
/* Inhaltsverzeichnis */
#toc {
	width: 20%;
	margin: 5px 10px 10px 0;
	padding: 5px;
	background: #eee;
	border: 1px dotted #ccc;
	float: left;
}
#toc h4 {
	text-align: center;
}

/* ACP */
#adm-list {
	height: 40px;
	padding: 0 10px;
	background: #e5e5e5;
	border: 2px solid #ccc;
	border-color: #eee #c2c2c2 #c2c2c2 #eee;
	line-height: 40px;
	text-align: left;
}
#adm-list a, #adm-list input {
	margin: 4px 0 0 8px;
	line-height: normal;
	float: right;
}
.mark-entries {
	line-height: 25px;
	text-align: left;
}
.mark-entries span {
	font-weight: bold;
}