.align-justify {
	text-align: justify;
}
/* Datensätze */
table .sub-table-header {
	background: #f6f6f6;
	line-height: 26px;
	font-weight: bold;
}
table .sub-table-header span, table .sub-table-header div {
	font-weight: normal;
}
.dataset-box {
	margin: 0 auto 10px;
}
.dataset-box .navbar-header h2 {
	margin: 0;
}
.dataset-box .content {
	margin: -8px 20px 10px;
}
.dataset-box .hyperlink {
	margin: 8px 0 0;
	padding: 4px;
	background-color: #eee;
	background-image: -moz-linear-gradient(top, #eee, #fff);
	background-image: -ms-linear-gradient(top, #eee, #fff);
	background-image: -webkit-linear-gradient(top, #eee, #fff);
	background-image: -o-linear-gradient(top, #eee, #fff);
	background-image: linear-gradient(top, #eee, #fff);
	background-repeat: repeat-x;
	border-top: 1px dotted #ccc;
	line-height: 20px;
}
.dataset-box .hyperlink a.download-file {
	padding: 0 8px;
	font-weight: bold;
	line-height: 26px;
	display: block;
}
/* Inhaltsverzeichnis */
#toc {
	width: 20%;
	margin: 5px 10px 10px 0;
	float: left;
}
#toc h4 {
	margin-top: 0;
}
#page-break-link {
	margin: 5px;
}
/* ACP */
#adm-list .navbar-text {
	margin: 0;
}
#adm-list a, #adm-list input {
	margin: 8px 0 0 8px;
	float: right;
}
/* Bootstrap Modal Dialog statisch positionieren */
.modal.static {
	margin: 0 auto;
	position: static;
	top: auto;
	left: auto;
}
.list-group div .list-group-item:first-child {
	border-radius: 0;
}