.galleries {
	margin: 2px 0;
	padding: 3px;
	background: #069 url('../images/common_header.png') repeat-x;
	border: 1px solid #bbb;
	font-weight: bold;
	font-size: 1.2em;
	color: #f90;
}
.galleries .header {
	font-size: 1.0em;
	text-align: left;
}
.galleries .header a {
	color: #000;
}
.galleries .header a:hover {
	color: #f00;
}
.galleries .date {
	float: right;
}
.pictures {
	text-align: center;
}
.picture img, .pictures img {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.picture {
	margin: 10px 0;
	text-align: center;
}
.picture .description {
	margin: 10px 25%;
}