/* GB */
.gb {
	width: 80%;
	margin: 2px auto;
	background: #eee;
	border: 1px solid #bbb;
}
.gb .header {
	background: #069 url('../images/common_header.png') repeat-x;
	border-bottom: 1px solid #bbb;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 25px;
	color: #f90;
}
.gb .author {
	width: 200px;
	float: left;
	text-align: center;
}
.gb .message {
	margin-left: 200px;
	text-align: center;
}
.gb .left {
	max-width: 200px;
	width: 190px;
	padding: 5px;
	border-right: 1px solid #bbb;
	float: left;
}
.gb .left span {
	font-weight: bold;
}
.gb .content {
	margin-left: 200px;
	padding: 5px;
	border-left: 1px solid #bbb;
}
.gb .footer {
	height: 25px;
	background: #bbb url('../images/common_footer.png') repeat-x;
	border-top: 1px solid #bbb;
	line-height: 18px;
	clear: both;
}