.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.align-justify {
	text-align: justify;
}
#logo {
	margin: 10px 0 10px 10px;
	width: 104px;
	height: 45px;
	background: url('../img/logo.png') no-repeat;
	text-indent: -9999px;
}
/* Inhaltsverzeichnis */
#toc {
	width: 20%;
	margin: 5px 10px 10px 0;
	padding: 5px;
	background: #eee;
	border: 1px dotted #ccc;
	float: left;
}
#toc h4 {
	text-align: center;
}
/* ACP */
#adm-list {
	height: 40px;
	margin: 0 0 5px;
	padding: 0 10px;
	line-height: 40px;
	text-align: left;
}
#adm-list h2 {
	font-size: 1.2em;
}
#adm-list a, #adm-list input {
	margin: 4px 0 0 8px;
	line-height: normal;
	float: right;
}
.mark-entries {
	line-height: 25px;
	text-align: left;
}
.mark-entries span {
	font-weight: bold;
}