<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<tables>newsletter_accounts,newsletter_archive</tables>
		<version core="true"/>
		<active>1</active>
	</info>
	<settings>
		<mail></mail>
		<mailsig><![CDATA[Mit freundlichen Grüßen,

das Newsletterteam]]></mailsig>
	</settings>
	<access>
		<item>
			<file>activate</file>
			<level>1</level>
		</item>
		<item>
			<file>adm_activate</file>
			<level>4</level>
		</item>
		<item>
			<file>adm_list</file>
			<level>2</level>
		</item>
		<item>
			<file>adm_list_archive</file>
			<level>2</level>
		</item>
		<item>
			<file>compose</file>
			<level>2</level>
		</item>
		<item>
			<file>create</file>
			<level>1</level>
		</item>
		<item>
			<file>delete</file>
			<level>8</level>
		</item>
		<item>
			<file>delete_archive</file>
			<level>8</level>
		</item>
		<item>
			<file>edit_archive</file>
			<level>4</level>
		</item>
		<item>
			<file>send</file>
			<level>2</level>
		</item>
		<item>
			<file>settings</file>
			<level>15</level>
		</item>
	</access>
</module>
