#head #page-title {
	padding-left: 15px;
	font-size: 2.4em;
	line-height: 30px;
	text-align: left;
}
#head ul {
	height: 30px;
	margin: 0;
	padding-left: 10px;
	background: url('images/header.png') repeat-x;
	border-bottom: 1px solid #333;
	font: bold 1.3em Verdana, Arial, sans-serif;
	list-style: none;
}
#head ul li {
	float: left;
	position: relative;
}
#head ul li a {
	margin-right: 3px;
	padding: 0 5px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	white-space: nowrap;
	display: block;
}
#head ul li a:hover, #head ul li a.selected {
	color: #f00;
}
#head ul ul {
	width: 150px;
	height: auto;
	margin-left: 1px;
	padding: 0;
	background: #069;
	border: 1px solid #333;
	border-width: 1px 1px 0;
	font-size: 1.0em;
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
}
#head ul ul li {
	border-bottom: 1px solid #333;
}
#head ul ul li a {
	margin: 0;
	width: 140px;
}
#head ul ul ul {
	top: -1px;
	left: 149px;
}
#breadcrumb {
	padding-left: 15px;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 40px;
	color: #f00;
	clear: both;
}
#breadcrumb a {
	text-decoration: underline;
}
#breadcrumb a, #breadcrumb span {
	color: #333;
}
#breadcrumb a:hover {
	color: #f00;
	text-decoration: none;
}
#sidebar-left, #sidebar-right {
	width: 19%;
	border: 1px solid #333;
	border-width: 0 1px 1px;
	font-size: 1.2em;
	text-align: left;
	float: left;
}
#sidebar-right {
	width: 14%;
	float: right;
}
#sidebar-left h4, #sidebar-right h4 {
	height: 25px;
	padding-left: 15px;
	background: url('images/common_header.png') repeat-x;
	border-top: 1px solid #333;
	font-size: 1.1em;
	line-height: 25px;
	color: #f90;
	clear: both;
}
#sidebar-left ul, #sidebar-right ul {
	margin: 0;
	list-style: none;
}
#sidebar-left ul li, #sidebar-right ul li {
	width: 100%;
	background: #eee;
	border-top: 1px solid #333;
	line-height: 22px;
	text-align: center;
	float: left;
}
#sidebar-left ul li a, #sidebar-right ul li a {
	padding-left: 15px;
	text-align: left;
	display: block;
}
#sidebar-left ul li a:hover, #sidebar-left ul li a.selected,
#sidebar-right ul li a:hover, #sidebar-right ul li a.selected {
	color: #f90;
}
#sidebar-left ul.admin li ul {
	display: none;
}
#sidebar-left ul li ul li a {
	padding-left: 30px;
}
#content {
	width: 65%;
	margin-left: 1%;
	font-size: 1.2em;
	float: left;
}
#footer {
	clear: both;
}