/*
 * Copyright (c) by the ACP3 Developers.
 * See the LICENCE file at the top-level module directory for licencing details.
 */

@import "pkg:bootstrap/scss/functions";
@import "pkg:bootstrap/scss/variables";

$rating-star-color-default: #777 !default;
$rating-star-color-active: #e3cf7a !default;

$rating-star-font-size: 24px !default;

.rating {
  position: relative;
  display: inline-block;
  direction: rtl;
  unicode-bidi: bidi-override;

  &:hover {
    .rating__average {
      visibility: hidden;
    }
  }

  .svg-icon__star {
    width: $rating-star-font-size;
    height: $rating-star-font-size;
  }
}

.rating__average {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  direction: ltr;

  .rating__star {
    color: $rating-star-color-active;
  }
}

.rating__star {
  display: inline-block;
  margin-bottom: 0;
  color: $rating-star-color-default;
  cursor: pointer;

  &.rating__star--active,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;

    &,
    ~ .rating__star {
      color: $rating-star-color-active;
    }
  }
}

.rating__already-rated {
  margin-bottom: $spacer * 0.25;
}
