<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<version core="true"/>
		<protected/>
	</info>
	<access>
		<item>
			<file>image</file>
			<level>1</level>
		</item>
	</access>
</module>