* {
	margin: 0;
	padding: 0;
}
body {
	padding: 10px;
}
body, td, input, select, textarea {
	font: 11px 'Trebuchet MS', Arial, sans-serif;
}
input, select, textarea {
	margin: 1px;
}
ul, ol {
	margin: 10px 20px;
}
body, .BackColor {
	background: #fff;
}
.PopupBody {
	padding: 0;
}
.PopupTitle {
	font-weight: bold;
	font-size: 14pt;
	color: #f90;
	background: #069;
	padding: 3px 10px;
}
.PopupButtons {
	border-top: #333 1px solid;
	background: #069;
	padding: 7px 10px;
}
.Button {
	border: #c2c2c2 1px solid;
	color: #333;
	background: #eee;
	margin: 0;
	padding: 1px 7px;
}
.DarkBackground {
	background: #e5e5e5;
}
.LightBackground {
	background: #ffffbe;
}
.PopupTitleBorder {
	border-bottom: #333 1px solid;
}
.PopupTabArea {
	color: #fff;
	background: #069;
}
.PopupTabEmptyArea {
	padding-left: 10px ;
	border-bottom: #333 1px solid;
}
.PopupTab, .PopupTabSelected {
	border: 1px solid #333;
	border: 1px 1px 0 1px;
	padding: 3px 5px;
	color: #000;
}
.PopupTab {
	margin-top: 1px;
	border-bottom: #333 1px solid;
	cursor: pointer;
	background: #eee;
}
.PopupTabSelected {
	font-weight:bold;
	cursor: default;
	padding-top: 4px;
	border-bottom: #fff 1px solid;
	background: #fff;
	color: #f00;
}
.PopupSelectionBox {
	border: #333 1px solid !important;
	background: #fffacd !important;
	cursor: pointer;
}