/*!
 * Copyright (c) by the ACP3 Developers.
 * See the LICENSE file at the top-level module directory for licensing details.
 */

.loading-indicator {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.5s,
    visibility 0.5s;

  &.loading-indicator__active {
    display: inline-block;
    visibility: visible;
    opacity: 1;
  }
}
