$photoswipe-caption-padding-y: 0.5rem !default;
$photoswipe-caption-padding-x: 1rem !default;
$photoswipe-caption-font-size: 1rem !default;
$photoswipe-caption-bg-color: rgba(0, 0, 0, 0.5) !default;
$photoswipe-caption-color: #fff !default;

.pswp__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: $photoswipe-caption-font-size;
  color: $photoswipe-caption-color;
  text-align: center;
  background: $photoswipe-caption-bg-color;

  .pswp__caption-inner {
    padding: $photoswipe-caption-padding-y $photoswipe-caption-padding-x;
  }

  a {
    color: $photoswipe-caption-color;
    text-decoration: underline;
  }
}
