@import "modules/admin";
@import "modules/bootstrap-overrides";
@import "modules/cache-management";
@import "modules/content-elements";
@import "modules/svg-icon";
@import "modules/datagrid";
@import "modules/forms";
@import "modules/page-break-link";
@import "modules/sub-table-header";
@import "modules/table-of-contents";

/* Position Bootstrap modal dialogs statically */
.modal {
  &.static {
    position: static;
    display: block;
    margin: 0 auto;
    overflow: auto;

    .modal-footer {
      margin-top: 0;
      border-top: none;
    }
  }
}

.panel-body {
  p {
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
