@import "partials/ajax-loading-layer";
@import "partials/content-elements";
@import "partials/cookie-consent";
@import "partials/admin";
@import "partials/datagrid";
@import "partials/bootstrap-overrides";

/* Position Bootstrap modal dialogs statically */
.modal {
  &.modal-static {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }
}
