services:
  menus.validator.menu:
    class: ACP3\Modules\ACP3\Menus\Validation\MenuFormValidation
    parent: core.validator.abstract

  menus.validator.menuitem:
    class: ACP3\Modules\ACP3\Menus\Validation\MenuItemFormValidation
    parent: core.validator.abstract

  menus.validation.validation_rules.allowed_menu_validation_rule:
    class: ACP3\Modules\ACP3\Menus\Validation\ValidationRules\AllowedMenuValidationRule
    arguments:
      - '@menus.model.menuitemrepository'
    tags:
      - { name: core.validation.validation_rule }

  menus.validation.validation_rules.link_mode_validation_rule:
    class: ACP3\Modules\ACP3\Menus\Validation\ValidationRules\LinkModeValidationRule
    arguments:
      - '@core.modules'
      - '@core.validation.validation_rules.internal_uri_validation_rule'
    calls:
      - ['setArticleExistsValidationRule', ['@?articles.validation.validation_rules.article_exists_validation_rule']]
    tags:
      - { name: core.validation.validation_rule }

  menus.validation.validation_rules.menu_exists_validation_rule:
    class: ACP3\Modules\ACP3\Menus\Validation\ValidationRules\MenuExistsValidationRule
    arguments:
      - '@menus.model.menurepository'
    tags:
      - { name: core.validation.validation_rule }

  menus.validation.validation_rules.menu_name_validation_rule:
    class: ACP3\Modules\ACP3\Menus\Validation\ValidationRules\MenuNameValidationRule
    tags:
      - { name: core.validation.validation_rule }

  menus.validation.validation_rules.parent_id_validation_rule:
    class: ACP3\Modules\ACP3\Menus\Validation\ValidationRules\ParentIdValidationRule
    arguments:
      - '@menus.model.menuitemrepository'
    tags:
      - { name: core.validation.validation_rule }
