<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<tables>access</tables>
		<version core="true"/>
		<protected/>
		<active>1</active>
	</info>
	<access>
		<acp>
			<item>
				<file>acp_create</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_edit</file>
				<level>2</level>
			</item>
			<item>
				<file>acp_list</file>
				<level>2</level>
			</item>
			<item>
				<file>entry</file>
				<action>
					<name>acp_create</name>
					<level>2</level>
				</action>
				<action>
					<name>acp_delete</name>
					<level>2</level>
				</action>
				<action>
					<name>acp_edit</name>
					<level>2</level>
				</action>
			</item>
		</acp>
	</access>
</module>