<?xml version="1.0" encoding="UTF-8"?>
<module>
	<info>
		<name lang="true"/>
		<description lang="true"/>
		<author>Goratsch Webdesign</author>
		<version core="true"/>
		<active>1</active>
	</info>
	<access>
		<acp>
			<item>
				<file>acp_list</file>
				<level>2</level>
			</item>
			<item>
				<file>entry</file>
				<action>
					<name>acp_edit</name>
					<level>2</level>
				</action>
			</item>
		</acp>
		<frontend>
			<item>
				<file>entry</file>
				<action>
					<name>send_mail</name>
					<level>1</level>
				</action>
			</item>
			<item>
				<file>imprint</file>
				<level>1</level>
			</item>
			<item>
				<file>list</file>
				<level>1</level>
			</item>
		</frontend>
	</access>
</module>